.contain {
    height: auto;
    width: 100%;
    background-color: #1E201E;
    border: 1px solid rgba(124, 122, 122, 0.8);
    border-radius: 20px;
    box-sizing: border-box;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 30px;
    flex-wrap: wrap;
}

.left {
    flex: 1 1 45%;
    padding: 20px;
}

.left h1,
h2 {
    color: #fff9f0;
    font-weight: 200;
    font-size: 3rem;
    z-index: 1;
    position: relative;
    line-height: 65px;
}

.left p {
    color: #fff9f0c3;
    line-height: 25px;
    font-weight: 200;
    text-align: justify;
    font-size: 1rem;
}

/* .left h1::after {
    position: absolute;
    content: '';
    top: -70px;
    left: 50%;
    background-color: rgb(251, 168, 43);
    height: 5px;
    width: 255px;
    border-radius: 20px;
    transform: translateX(-50%);
    
}

@keyframes flex {
    0% {
        width: 0;
        background-color: #ECDFCC;
    }

    100% {
        width: 255px;
    }
} */

/* .left span {
    color: #fff9f0;
    font-size: 1.5rem;
    position: relative;
    font-weight: 300;
} */

.right {
    flex: 1 1 45%;
    /* Flexibility for right section */
    padding: 20px;
}

.right .img {
    height: 400px;
    width: fit-content;
}

.right .img img {
    height: 100%;
    width: 100%;
    /* object-fit: contain; */
    /* Ensures image maintains aspect ratio */
}

.main-section-link {
    height: auto;
    width: 100%;
    padding: 0 0 30px 0;
    display: grid;
    place-items: center;
}

.main-section-link img {
    height: auto;
    width: 30px;
}

.home-section1-btn {
    height: 50px;
    width: 180px;
    border-radius: 30px;
    font-size: 15px;
    background-color: #ECDFCC;
    color: #515a4e;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    outline: none;
    border: none;
}

.home-section1-btn:hover {
    background-color: transparent;
    color: #ECDFCC;
    border: 2px solid #ECDFCC;
    ;
}

/* MEDIA QUERIES */
/* @media (min-width: 1200px) {
    .flex{
        justify-content: center;
    }
    .left h1, .left h2 {
        font-size: 3.5rem;
        line-height: 90px;
    }
    .left p{
        font-size: 1.5rem;
        line-height: 38px;
    }
    .left{
        padding-left: 200px;
    }
    .right {
        display: grid;
        place-items: center;
        width: auto;
    }
    .home-section1-btn{
        font-size: 23px;
        height: 60px;
        width: 200px;
    }
    
} */
/* For devices with width between 992px to 1199px */
@media (min-width: 992px) and (max-width: 1199px) {
    .flex {
        padding: 50px 20px;
    }

    .left h1,
    h2 {
        font-size: 2.5rem;
    }

    .left h2 .highlight {
        /* font-weight: 500; */
        font-size: 2.5rem;
    }

    .left h1::after {
        left: 47%;
        width: 342px;
        top: -70px;
    }

    .right {
        padding: 10px;
    }

    .right .img {
        height: 400px;
    }

    .main-section-link {
        padding: 20px 0;
    }

}

/* For devices with width between 768px to 991px */
@media (min-width: 768px) and (max-width: 991px) {
    .flex {
        padding: 30px 15px;
        display: grid;
        place-items: center;
    }

    .left h1,
    h2 {
        font-size: 2rem;
        line-height: 50px;
    }

    .left h2 .highlight {
        /* font-weight: 500; */
        font-size: 2rem;
    }

    .left p {
        font-size: 0.90rem;
    }

    .left h1::after {
        width: max-content;
        left: 150px;
        top: -70px;
    }

    /* .right .img {
        height: 200px;
        object-fit: cover;
        display: none;
    } */

    .main-section-link {
        padding: 20px 0;
    }
}

/* For devices with width between 576px to 767px */
@media (min-width: 576px) and (max-width: 767px) {
    .flex {
        flex-direction: column;
        padding: 20px;
    }

    .left,
    .right {
        flex: 1 1 100%;
        /* Make sections full width */
        text-align: center;
    }

    .left h1 {
        font-size: 2rem;
    }

    .left h1 .highlight,
    .left h2 .highlight {
        font-weight: 500;
        font-size: 1.7rem;
    }

    .left h1::after {
        width: 150px;
        top: -40px;
    }

    .right .img {
        height: 200px;
    }

    .main-section-link {
        padding: 10px 0;
    }
}

/* For devices with width below 576px */
@media (max-width: 575px) {
    .flex {
        flex-direction: column;
        padding: 15px;
    }

    .left h1 {
        font-size: 1.8rem;
    }

    .left h1::after {
        width: 120px;
        top: -30px;
    }

    .left h1 .highlight,
    .left h2 .highlight {
        font-weight: 500;
        font-size: 1.7rem;
    }

    .right .img {
        height: 150px;
        width: 100%;
    }

    .main-section-link {
        padding: 10px 0;
    }
}

/* For devices with width below 375px */
@media (max-width: 375px) {
    .flex {
        padding: 0;
    }

    .left {
        line-height: 25px;
    }

    .left h1,
    h2 {
        font-size: 2rem;
        line-height: 35px;
    }

    /* .left span {
        font-size: 1rem;
    } */

    .left h1::after {
        display: none;
    }

    .left h1 .highlight,
    .left h2 .highlight {
        font-weight: 500;
        font-size: 1.7rem;
    }

    .right .img {
        height: auto;
        width: 200px;
    }

    .main-section-link img {
        width: 20px;
    }
}